<div class="rounded shadow-lg relative mt-4">
  <Link-To @data-test-link="movie.create"
    @params={{array "movie.create"}}
    @class="link-btn">
    {{fa-icon "plus"}}
  </Link-To>

  {{#each model.data as |review|}}
    <Movie-List-Item @id={{review.id}}
      @title={{review.attributes.title}}
      @rating={{review.attributes.rating}}>
    </Movie-List-Item>
  {{/each}}
</div>
